.app-container {
  padding: 10px 30px;
}

.app-container > div:first-of-type {
  display: flex;
  justify-content: flex-end;
}

main ul {
  list-style-type: none;
  padding: unset;
}

main ul li:first-of-type {
  font-size: 20px;
  font-weight: 600;
}

main ul li:last-of-type {
  margin-top: 10px;
}

main {
  margin: 30px auto;
}

main > div {
  text-align: center;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: gainsboro;
}

.app-container p:last-of-type {
  text-align: center;
  font-size: 20px;
}
